.media-container {
  margin: 0;
  padding: 0;
  z-index:1;
  @include mobile {
    margin-top: 100px;
  }
  @include desktop {
    margin-top: 150px;
  }
}

.articles {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  z-index:1;
  @include mobile {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  ul {
    margin: 0;
    padding: 0;
    @include mobile {
      width: 100%;
      display: flex;
    }
  }
}

.articles li {
  height:400px;
  margin:0;
  padding:0;
  @include mobile {
    display: inline;
    width: 50%;
    min-width: 100px;
    height: 420px;
    overflow: hidden;
    flex-flow: row wrap;
  }
  @include tablet {
    width: 33.333333%;
  }
  @include desktop {
    width: 25%;
  }
}

.art-container {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 425px;
  z-index:1;
  .article-image {
    height:420px;
  }
  @include mobile {
    display: block;
    flex-flow: row wrap;
    width: 100%;
  }
  img {
    width: fit-content;
    height: 420px;
    flex-wrap: wrap;
    display: block;
    transform: translate(-33.3333%, 0);
    z-index:1;
    @include mobile {
      flex-flow: row wrap;
      min-width: 0px;
      max-height: 425px;
      display: inline;
    }
  }
}

.caption {
  display: block;
  position: absolute;
  padding: 0px;
  bottom:  0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(4, 3, 2, 0.4);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.7s ease;
  z-index:1;
}

.text {
  top: 50%;
  left: 50%;
  transform: translate(0, -23%);
  z-index:1;
}

.words {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flexbox;
  flex-direction: column;
  justify-content: flex-start;
  z-index:1;
}

.author {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 50px;
  z-index:1;
  padding-bottom: 90px;
}

.title {
  margin-bottom: 0;
  text-align: center;
  height: 75px;
  z-index:1;
  a {
    width: 100%;
    color: $whiteish;
    text-decoration: none;
  }
  &:hover {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 15px lightblue;
  } 
}

.words:hover .caption{
  height: auto;
}

.art-container:hover .caption{
  height: auto;
}



.load-wrapper{
  height: 100vh;
  position: fixed;
  z-index: 1000;
  transition: all 0.5s 0.8s ease;
  visibility: visible;
}

.load {
  margin-left: 0px;
  height: 700px;
  width: 700px;
  left: -50%;
  transform: translate(50vw 0);
  background-image: url('../../assets/images/ajax-loader.gif'), url('../../assets/images/nyt-logo.svg');
  background-size: fit, fit;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  position: relative;
  transition: all 0.5s 0.3 ease;
  z-index: 1001;
}

.load-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100vh;
  background-color: black;
  opacity: 0.9;
  z-index: 1000;
  transition: all 0.5s 0.3 ease-in;
}

.loaded-screen {
  background-color: grey;
  opacity: 0;
  width: 0;
  transition: all 0s ease;
}

.loaded {
  left: 100vw;
  transform: translate(100vw 0);
  transition: all 0s ease;
}

.loaded-wrapper{
  height: 0;
  transition: all 0s;
  visibility: hidden;
}