.stinky {
  align-self: center;
  z-index:1;
  .feet {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
    @include desktop {
      text-align: left;
      margin-left: 100px;
    }
  }
}