html {
  line-height: 1.01em;
}
body {
  background-color: black;
}

#everything {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100vh;
  z-index:1;
}
