.invisible {
  display: none;
}

.container {
  height: 400px;
  transition: all 1s ease;
  @include mobile{
    margin-top: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 1s ease;
  }
  @include tablet{
    transition: all 1s ease;
  }
  @include desktop {
    transition: all 1s ease;
    width:70%;
    left: 0;
    top: 0;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  padding-top: 44vh;
  transition: all 1s ease;
  @include mobile {
    padding: 0;
    flex-basis: 300px;
    flex-grow: 2;
    transition: all 1s ease;
  }
  @include desktop {
    display: block;
    width: 40%;
  }
  .logo {
    margin-top: -150px;
    margin-left: 0px;
    background-image: url('../../assets/images/nyt-logo.svg');
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 225px;
    transition: all 1s ease;
    @include mobile {
      background-position: 17vw center;
      margin: 0;
      height: 25vw;
      background-size: contain;
      transition: all 1s ease;
    }
    @include tablet {
      margin-top:1vw;
      paddint-top:10px
    }
    @include desktop {
      background-position: 0 center;
      margin:0;
      margin-left: 10px;
      background-size: contain;
      transition: all 1s ease;
      width: 90%;
    }
  }
}

.form-container {
  justify-content: center;
  margin: 20px 0 30px;
  padding:0;
  display: flex;
  transition: all 1s ease;
  flex-grow: 3;
  @include mobile {
    margin:0;
    padding: 0;
    align-content: left;
    flex-basis: 300px;
    transition: all 1s ease;
  }
  .instructions {
    align-self: left;
    margin-top: 0;
    margin-bottom: 2vh;
    padding: 0;
    transition: all 1s ease;
    align-self: left;
  }
  @include mobile {
    .art-type{
      padding-right: 37vw;
      transition: all 1s ease;
    }
  }
}

.container-move {
  height: 250px;
  @include mobile {
    transition: all 1s ease;
    width: 400px;
    margin-top: 6vh;
    align-content: left;
    align-items: left;
  }
}

.logo-container-move {
  padding-top: 0px;
  margin-top:0;
  height:200px;
  margin-bottom: 0;
  @include mobile {
    width: 75px;
    display: flex;
    height: 15vh;
    transition: all 1s ease;
  }
  @include tablet {
    margin-top: 40px;
    height: 150px;
    width: 100px;
  }
  .logo-move {
    margin-top: 0;
    transform: scale(0.6);
    transition: all 1s ease;
    z-index:1;
    @include mobile {
      background-position: center;
      margin: 0;
      margin-top: 10px;
      left: 0;
      height: 100px;
      background-size: contain;
      transition: all 1s ease;
    }
    @include tablet {
      background-position: center;
    }
    @include desktop {
      background-position: center;
      height: 10vw;
      margin-top: 42px;
    }
  }
}

.form-container-move {
  transform: translate(0, -25px);
  margin: 5px 0;
  transition: all 1s ease;
  z-index:1;
  @include mobile {
    margin: 5px 0 0;
    padding: 0;
    align-content: left;
    flex-basis: 300px;
    transition: all 1s ease;
  }
  @include desktop {
    margin-top: 25px;
  }
  .instructions-move {
    margin-top: 10px;
    padding-left:0;
    margin-left:0;
    transition: all 1s ease;
  }
  @include mobile {
    .art-type-move{
      margin-right: 2vw;
      padding-left:0;
      margin-left:0;
      padding-right: 50px;
      transition: all 1s ease;
    }
  }
}