.invisible {
  display: none;
}
.container {
  height: 400px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 45vh;
  .logo {
    margin-top: -150px;
    background: url('../../assets/images/nyt-logo.svg');
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 225px;
  }
}

.form-container {
  justify-content: center;
  margin-top:1px;
  padding:0;
  display: flex;
  .instructions {
    margin-top: 0;
    margin-bottom: 2vh;
    padding: 0;
  }
}